VEXUSPAY_API_URL=https://api.vexuspay.com
VEXUSPAY_CLIENT_ID=your_vexuspay_client_id_here
VEXUSPAY_CLIENT_SECRET=your_vexuspay_client_secret_here
VEXUSPAY_WEBHOOK_URL=https://seudominio.com/api/webhooks/vexuspay
SITE_URL=https://seudominio.com
PRODUCT_NAME=Encapsulado MindUp
PRODUCT_PRICE_CENTS=5790
